/**
 * Part of the Platform application.
 *
 * NOTICE OF LICENSE
 *
 * Licensed under the 3-clause BSD License.
 *
 * This source file is subject to the 3-clause BSD License that is
 * bundled with this package in the LICENSE file.  It is also available at
 * the following URL: http://www.opensource.org/licenses/BSD-3-Clause
 *
 * @package    Platform
 * @version    2.0
 * @author     Cartalyst LLC
 * @license    BSD License (3-clause)
 * @copyright  (c) 2011 - 2013, Cartalyst LLC
 * @link       http://getplatform.com
 *
 *
/* Table of Content
==================================================
	#Bootstrap & Variables
	#Basic Layout
	#Navigation
	#Pages
	#Content
	#Forms
	#Images
	#Buttons
	#Forms
	#Misc */

/* #Bootstrap & Variables
================================================== */

@import "vendor/bootstrap/bootstrap";
@import "variables";

/* #Basic Layout
================================================== */

html, body {
	height: 100%;
}

#base {
	min-height: 100%;
	overflow: hidden;
}

h1 {
	font-weight: 500;
	margin:0;
	float:left;
	padding-right:10px;
}

.console {
	margin:0 20px 0 200px;
	height: 60px;

	.console__notify {
		line-height: 60px;
		float:left;
		color:@white;

		p{ margin:0; }
	}

	.console__navigation {

		float:right;
		line-height: 60px;
		a {
			padding:4px 8px;
			color:@white;
			font-size:18px;
		}
	}
}

.notify {

	font-size:18px;
	display: table-cell;

	i {
		font-size: 26px;
		vertical-align: middle;
	}

	&.notify--error {}
	&.notify--warning {}
	&.notify--success {}

}

.navigation {
	list-style: none;
	margin:0;
	padding:0;
	border:none;

	&.navigation--list {

		a, button {
			display:block;
		}

	}

	&.navigation--inline {

		li, a, button {

			display: inline-block;
		}
	}

	&.navigation--inline-circle {

		li {
			border-collapse: separate;
			display:inline-block;
    		vertical-align:middle;
		}

		a, button {
			display: table-cell;
			vertical-align:middle;
			-webkit-box-sizing: content-box;
    		box-sizing: content-box;
		}

	}

	&.navigation--icons-only span {
		display: none;
	}

	&.navigation--center {
		margin:0 auto;
		text-align: center;
	}
}


.sidebar {
	padding-bottom: 999em;
	margin-bottom: -999em;

	width:200px;
	position: fixed;

	background:transparent;

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	.sidebar__brand{
		display:block;
		padding:0px 10px 20px;

		color:@white;
		font-size:30px;
		letter-spacing: 1px;
		text-align: center;
		text-decoration: none;

		border-bottom:1px solid @baseDark;

		span{
			display:block;
			/** margin-top:20px; **/
		}

	}

	.sidebar__navigation {

		height:250px;
		position: relative;
		overflow: hidden;

		.navigation {
			position: relative;
			top:0;
		}

		li{
			border-top:1px solid @baseLight;
			border-bottom:1px solid @baseDark;
		}

		a {
			padding:10px 0 10px 20px;

			color:@white;
			letter-spacing: 1px;
			text-decoration: none;

			&:hover {
				border-left:8px solid @baseLight;
			}
		}

		.active a{
			border-left:8px solid @baseLight;
			position: relative;
			padding:10px 0 10px 12px;

			&:after{
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-right: 10px solid @page;
				content: '';
				position: absolute;
				top: 0; right: 0;
				margin-top:10px;
			}
		}

	}

	.sidebar__toggle{
		display:block;
		min-height:60px;
		border-top:1px solid @baseLight;
		background: url('../../img/sidebar-close.png') center right no-repeat;
	}

	.sidebar__footer {
		position:fixed;
		bottom:20px;
		width: inherit;
		color:@white;
		text-align: center;

	}
}

/*
 * :: Collapsed Styles
 */
 .collapsed {
 	.sidebar { width:80px;}
 	.page {margin-left:80px;}
 	.page .page__footer {left:80px;}
 	.console {margin-left:80px;}
 	.sidebar__toggle{ background: url('../../img/sidebar-open.png') center center no-repeat; }
 	.sidebar span{ display:none; }
 	.sidebar__navigation a:link, a:visited{ text-align: center; padding-left:0; }
 	.sidebar__brand{ padding:0 10px 20px 10px;}
 }

 .page {

 	padding-bottom: 999em;
 	margin-bottom: -999em;

 	margin-left:200px;
 	margin-right:20px;
 	background:@page;

 	-moz-border-radius:8px 8px 0 0;
 	-webkit-border-radius:8px 8px 0 0;
 	border-radius:8px 8px 0 0;

 	-moz-box-sizing: border-box;
 	box-sizing: border-box;

 	.page__header {
 		padding:0;
 		margin:0;
 		background:@base;
 	}

 	.page__navigation {
 		float:right;

 		-moz-box-sizing: border-box;
 		box-sizing: border-box;

 		li {
 			margin:8px 0 0 4px;
 		}

 		a {
 			margin:0;
 			color:@page;
 			background: lighten(@base, 10%);
 			line-height: 36px;

 			.border-top-radius(8px);

 			&:hover{
 				background: darken(@page, 1%);
 				color:@base;
 			}
 		}

 		.active {
 			display: none;
 		}
 	}

 	.page__tabs{
		float:right;

		a{
			color:@base;
			margin:0 4px;
			padding:14px 16px;
		}

		.active {
			background:@base;
			.border-radius(5px);

			a{ color:@white; }

		}

 	}

 	.page__actions {
 		overflow: hidden;

 		padding:20px 20px 0 20px;
 		background: @page;
 		height:44px;

 		.border-top-radius(8px);
 	}

 	.page__content {
 		margin:0 20px 80px 20px;
 		padding:20px 0;

 		.border-top-left-radius(8px);
 	}

 	.page__footer {
		position: fixed;
		z-index: 2;
		bottom:0;
		right:20px;
		left:200px;
		height:80px;
		padding:0 20px;
		background: @page;
		// border:4px solid #ccc;
		.border-top-radius(8px);

		-moz-box-shadow: 0 -6px 0 4px @base;
		-webkit-box-shadow: 0 -6px 0 4px @base;
		box-shadow: 0 -6px 0 4px @base;

		nav {
			margin-top:20px;
		}

	}

 }

 .actions {

 	&.actions--right {
 		float:right;
 	}

 	&.actions--hidden {
 		visibility: hidden;
 	}

 	margin-left:8px;

 	li {
 		margin-left:4px;
 	}

 	a, button {
 		position: 0; margin:0;
 		padding:0;

 		background: @base;
 		color:@white;

 		vertical-align: middle;

 		width:32px;
 		height:32px;

 		text-align: center;
 		font-size:20px;

 		border:0;
 		border:4px solid @base;
 		border-radius: 32px;

 		&.warning {
 			background: @orange;
 			border-color: @orange
 		}

 		&.danger {
 			background: @red;
 			border-color: @red
 		}

 		&:hover{
 			background:@page;
 			color:@base;
 			text-decoration: none;
 		}
 	}
 }

 @media (max-width:1024px){

 	.sidebar{ position: relative; float:left; }
 	.sidebar .sidebar__navigation{ height:auto; overflow: visible; }

 }

/* Menus
==================================================*/
.nestable{
	width:100%;
	max-width:100%;
}

.item-dd-handle, .item-toggle{
	background:@base;
	border:0;
 	// line-height: 25px;

 	&:hover{
 		background:lighten(@base, 10%);
 	}
 }

 .item-dd-handle{ border-right:1px solid @baseDark; }
 .item-toggle{ border-left:1px solid @baseDark; }

 .item-name{

 	background:@content;

 	border-top:1px solid @etch;
 	border-bottom:1px solid @etch;
 	border-left:1px solid @baseLight;
 	border-right:1px solid @baseLight;

 	-webkit-touch-callout: none;
 	-webkit-user-drag: none;

 	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 }

 .item-dd-empty, .item-dd-placeholder{
 	border:1px dashed @base;
 	background:lighten(@base, 60%);
 }

/* #Forms
================================================== */
form legend {
	position:relative;
	color:@base;
	border-bottom:8px solid @content;
}

form .help-block {
	font-style: italic;
}

form legend span {
	position: absolute;
	top:0;
	left:0;
}

form legend {
	float: left;
}

form fieldset {
	padding:10px;
	margin:10px 0;
}

form textarea {
	width:90%;
}

form input,
form textarea,
form select,
form .input-append .add-on, form .input-prepend .add-on {
	outline: none;
}

form .input-append .add-on i, form .input-prepend .add-on i {
	padding:0 4px;
	display:inline-block;
	font-size:18px;
}


form input:required.valid + .add-on > i,
form input.valid:focus + .add-on > i,
form input:checked + .add-on > i,
form select:required.valid + .add-on > i,
form select.valid:focus + .add-on > i{
	color: @green;
}

form input:required.required + .add-on > i,
form input:required.error + .add-on > i,
form input.required:focus + .add-on > i,
form select:required.required + .add-on > i,
form select.required:focus + .add-on > i {
	color: @red;
}


/* Enhanced error styling */
form input.error + .add-on > i::before
{
	color:@orange;
	content: "\f071";


}
form input.required + .add-on > i::before
{
	color:@red;
	content: "\f06a";
}
form input.valid + .add-on > i::before
{
	color:@green;
	content: "\f00c";
}

form.form-inline label {
	padding:0 4px;
}

form .control-group-toggle {
	margin-top:10px;
}
form .control-group-toggle > label {
	width:200px;
	line-height: 36px;
	text-align: right
}

div.controls.switch {
	width:300px;
}

form .control-group-toggle label,
form .control-group-toggle .controls {
	float:left;
}

form .control-group-toggle .controls {
	margin-left:20px;
}

/* #Data Grid
================================================== */

.data-grid {

	margin-bottom:10px;

	.data-grid__header {
		overflow: hidden;
	}

	.data-grid__search {

		float: left;
		display: inline-block;

		input {
			height: 34px;
		}
	}

	.data-grid__applied {
		float:left;
		list-style-type: none;
		margin-left:8px;

		a {
			display: block;
			color: @white;
			padding:10px 12px;
			margin-left: 4px;
			background-color: lighten(@base, 12%);
			border-style: solid;
			border-width: 0 0 8px 8px;
			border-color: transparent transparent @page transparent;

			&:hover {
				text-decoration: none
			}

			i {
				padding-left:4px;
			}
		}
	}

	.data-grid__loader {
		margin-top:8px;
		float:right;
	}

	.data-grid__table {
		width:100%;

		th {
			background: @base;
			color:@page;
			padding:12px;
			text-align: left;
			font-weight:normal;
		}

		.sortable{
			cursor: pointer;

			&:after {
				font-family:FontAwesome;
				content:"\00A0\f0dc";
				font-size:12px;
				color:@white;
				font-weight:normal !important;
				line-height:1em;
			}

			&.asc {
				background: lighten(@base, 12%);
				&:after {
					content:"\00A0\f0de";
				}
			}

			&.desc {
				background: lighten(@base, 12%);
				&:after {
					content:"\00A0\f0dd";
				}
			}
		}

		tr:hover{
			background: #f7f7f7;

			.actions--hidden {
				visibility:visible;
			}
		}

		td {
			padding:12px 8px;
			border-bottom:1px dashed fade(@base, 10%);

			&:last-child {
				text-align: right;
			}
		}

	}
}

.data-grid__pagination {
		float:right;
		.count {
			color:@base;
			padding-left:20px;
			float:left;
			line-height: 38px;
			margin-top:20px;
			font-size:20px;

			.total {
				font-weight: bold;
			}
		}
	}

.loading{
	display:none;

	.loading__loader{
		display:inline-block;
		width:0;
		height:0;
		margin-right:85px;
		border-radius:40px;
		box-shadow: 0 0 0 3px @base, 20px 0 0 4px @base, 40px 0 0 5px @baseLight, 60px 0 0 3px @base;
		-webkit-animation:loading 1s infinite linear;
	}
}

@-webkit-keyframes loading{
	25% {
		box-shadow: 0 0 0 6px @base,
					20px 0 0 6px @base,
					40px 0 0 8px @base,
					60px 0 0 10px @baseLight;
		}
	50% {
		box-shadow: 0 0 0 10px @baseLight,
					20px 0 0 6px @base,
					40px 0 0 6px @base,
					60px 0 0 8px @base;
		}
	75% {
		box-shadow: 0 0 0 8px @base,
					20px 0 0 10px @baseLight,
					40px 0 0 8px @base,
					60px 0 0 6px @base;
	}
	100% {
		box-shadow: 0 0 0 6px @base,
					20px 0 0 8px @base,
					40px 0 0 10px @baseLight,
					60px 0 0 8px @base;
	}
}

.select {
	position: relative;
	overflow:hidden;
	float:left;

	margin-right:5px;

	width:12em; height:42px;
	border:solid 1px #ccc;
	display:inline-block;
	border-radius: 4px;

	&:after{
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 20px;
		right: 10px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #443e40;
	}
}

.select select {
	width:115%;
	margin:0; padding:0;
	background-color:transparent;
	background-image:none;
	-webkit-appearance: none;
	border:none;
	box-shadow:none;
	padding-left:0.75em;
	padding-top:5px;
	outline:none;

}

.ie7 div.select {border:none; }
.ie7 div.select select {
	width:100%;
	background-color:white;
	border: solid 1px #ccc;
	padding:0.3em 0.5em;
}

/* #Switch
==================================================*/

.switch {
	background:@white;
	float:left;
	border:1px solid @etch;
	box-shadow: inset 0px 0px 40px -16px #ABABAB;
	-webkit-box-shadow: inset 0px 0px 40px -16px #ABABAB;
	-moz-box-shadow: inset 0px 0px 40px -16px #ABABAB;
	-o-box-shadow: inset 0px 0px 40px -16px #ABABAB;
	.border-radius(8px);
}

/* #A few bootstrap overides
==================================================*/

hr {
	border:none;
	border-top:8px solid lighten(@base, 10%);
	border-bottom:12px solid @base;
	clear: both;
	background: none;
	margin:30px 20px 0 20px;
}

.tabbable > ul{
	margin-bottom:-1px;
}


.modal {
	border: 8px solid #e2e2e2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}
.modal-backdrop {
	background-color: #ffffff;
}



